.wrapper{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top-content{
    top: 0;

    width: 100%;

    padding-top: 129px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* background-color: aquamarine; */
}

.content{
    font-family: 'Lato', sans-serif;
    font-weight: 400;

    color: #333333;

    width: 100%;
    max-width: 500px;

    /* margin-top: 129px; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    /* background-color: rgb(212, 255, 202); */
}

.content .app-name{
    font-size: 80px;
    font-weight: 700;

    margin-bottom: 18px;
}

.content .slogan{
    font-size: 68px;
    font-weight: 600;

    margin-bottom: 32px;
}

.content .description{
    font-size: 24px;
    font-weight: 400;

    line-height: 30px;

    margin-bottom: 32px;
}

.content .learn-more-button{
    text-decoration: none;

    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 40px;

    width: 200px;
    height: 50px;
    
    color: white;
    background-color: #333333;

    transition: all 0.1s ease-in-out;
}

.content .learn-more-button:hover{
    background-color: #F76F00;
}


/* Info */

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info .column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 78px;

    margin-left: 40px;
}

.info .column .item{
    max-width: 318px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info .column .item img{
    width: 76px;
    height: 76px;
    
    margin-right: 32px;
}

.info .column .item .cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 4px;

    color: #333333;
    font-size: 16px;

    .name{
        font-size: 28px;
        font-weight: 700;
    }
}


/* Bottom Content */

.bottom-content{
    width: 100%;

    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;

    /* background-color: aquamarine; */

    /* margin-bottom: 32px; */
}

.navigation{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;

    width: 100%;
}

.navigation .item{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration: none;
    color: white;
    font-size: 16px;

    margin-bottom: 52px;

    img{
        position: relative;

        max-width: 328px;
        max-height: 283px;  
        z-index: 0;

        transition: all 0.1s ease-in-out;
    }

    .left{
        border-radius: 32px 0px 0px 32px;
    }

    .right{
        border-radius: 0px 32px 32px 0px;
    }

    .name{
        position: absolute;

        z-index: 1;

        bottom: 0;
        margin-bottom: 95px;
    }
}

.navigation .item:hover{
    img{
        filter: brightness(0.8);
    }
}


@media (min-height: 1100px){
    .navigation .item{
        margin-bottom: 180px;
    }

    .navigation .item .name{
        margin-bottom: 222px;
    }
}