section{
    .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            gap: 32px;

            span{
                line-height: 30px;
            }

            a{
                color: #333333;
                font-size: 20px;

                width: 150px;
                height: 40px;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                
                border: 1px solid #333333;
                border-radius: 30px;

                background-color: white;

                transition: 0.1s ease-in-out;
            }

            a:hover{
                background-color: #333333;
                color: white;
            }
        }
    }
}
