<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=SUSE:wght@100..800&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block styles %}
    {% endblock %}

    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">

    {% if title %}
        <title>Dovery | {{ title }}</title>
    {% else %}
        <title>Dovery</title>
    {% endif %}
</head>
<body>

    {% if not title == "Home" %}
        <nav class="navbar">
            <a href="/home" class="logo"><span class="orange">Dovery</span></a>
            <ul class="nav-links">
                <li><a class="{% if title == 'About' %}active{% endif %}" href="/about">About</a></li>
                <li><a class="{% if title == 'Market & Customer' %}active{% endif %}" href="/market-customer">Market & Customer</a></li>
                <li><a class="{% if title == 'Business' %}active{% endif %}" href="/business">Business</a></li>
                <li><a class="{% if title == 'Team' %}active{% endif %}" href="/team">Team</a></li>
            </ul>
            <a class="contact-btn" href="/contact-us">Contact Us</a>
        </nav>
    {% endif %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    {% if not title == "Home" %}
        <footer class="footer">
            <div class="top">
                <h1>Fast. Smart. Comfortable.</h1>
                <span>Made with passion by students at DCU 💡</span>
            </div>
            <div class="line"></div>
            <span style="font-size: 14px;">© 2025 Dovery. All Rights Reserved. </span>
        </footer>
    {% endif %}

    {% block scripts %}
    {% endblock %}

</body>
</html>