{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/business.css') }}">
{% endblock %}

{% block content %}
    <section>
        <h1>Business</h1>
        <div class="content">
            <div class="info">
                <h3>Revenue Streams at a Glance</h3>
                <span>💸 Commission on every grocery order <br>
                    🤝 Paid promotions and ads from food brands <br>
                    🛍️ Premium subscriptions with exclusive features <br>
                    🧾 Strategic supermarket partnerships (e.g., Lidl, Tesco)</span>
            </div>
        </div>
    </section>

    <section class="centered">
        <div class="content">
            <div class="info">
                <h3>Freemium Strategy</h3>
                <span> <b>Free plan:</b>🤑 basic recipes, standard delivery <br>
                     <b>Premium plan:</b>👑 personalized AI meal plans,
                    exclusive store discounts, priority delivery</span>
            </div>
        </div>
    </section>

    <section>
        <div class="content">
            <div class="info">
                <h3>Growth Potential</h3>
                <span>📈 Irish food delivery market to hit €1.8B by 2025 <br>
                    🌍 Expansion into other Irish cities post-Dublin launch <br>
                    🔁 Ongoing updates and features like voice meal planning <br> 
                    and loyalty rewards</span>
            </div>
        </div>
    </section>

    <section class="centered">
        <div class="content">
            <div class="info">
                <h3>Projection Snapshot</h3>
                <span><b>10,000</b> users by Month 6 <br>
                    Monthly revenue potential: <b>€50,000</b> <br>
                    Funding stages: Pre-seed <b>(€100K–300K)</b>, Seed <b>(€300K–700K)</b>, Series A <b>(€1M+)</b></span>
            </div>
        </div>
    </section>
{% endblock %}