{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="content">
            <span class="app-name">Do<span class="orange">very</span></span>
            <span class="slogan">Smart Delivery.</span>
            <span class="description">Dovery revolutionizes grocery shopping in <br>
                Ireland with AI-driven meal plans, seamless <br>
                delivery, and budget-friendly features — all in <br>
                one smart food solution.</span>
            <a href="/about" class="learn-more-button"><span>Learn More</span></a>
        </div>
    </div>
{% endblock %}